<div class="panel panel-warning">
    <div class="panel-heading">
        <h2 align="center">Dataset details</h2>
    </div>

    <div class="panel-body">


        <div class="row">
            <div class="col-md-12">

                <table class="table table-striped">
                    <caption>Dataset A</caption>
                    <thead>
                        <tr>
                            <th>file_name </th>
                            <th>start_time </th>
                            <th>end_time </th>
                            <th>ecotype </th>
                            <th>pod </th>
                            <th>call_type </th>
                            <th>comments </th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>File56.wav </td>
                            <td>1.37</td>
                            <td> 1.88</td>
                            <td> KW</td>
                            <td>SRKW</td>
                            <td>S17</td>
                            <td> very faint call, vessel noice overlapping</td>

                        </tr>
                        <tr>
                            <td>File56.wav</td>
                            <td>89.0</td>
                            <td>91.8</td>
                            <td>KW</td>
                            <td>SRKW</td>
                            <td>S16</td>
                            <td></td>

                        </tr>
                        <tr>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                            <td>...</td>
                        </tr>
                    </tbody>
                </table>

            </div>


        </div>
        <hr>
        <div class="row">
            <div class="col-md-5">
                Download links
                <br>
                <br>
                <button class="btn btn-primary" id="btn">Part 1</button>
                <button class="btn btn-primary" id="btn">Part 2</button>
                <button class="btn btn-primary" id="btn">Part 3</button>
                <br>
                <br>

                <button class="btn btn-primary" id="btn">Part 4</button>
                <button class="btn btn-primary" id="btn">Part 5</button>
                <button class="btn btn-primary" id="btn">Part 6</button>
            </div>

            <div class="col-md-7">

                <ul id="myTab" class="nav nav-tabs">
                    <li class="active"><a href="#home" data-toggle="tab">
                            Plots</a></li>
                    <li><a href="#metadata" data-toggle="tab">Metadata</a></li>


                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade " id="home">
                        <img src="/static/uploads/product/Species.png" title="Meridian">
                    </div>
                    <div class="tab-pane fade in active" id="metadata">
                        Number of files: 93
                        <br>
                        Number of annotated events: 1547
                        <br>
                        Species identified: Orcas (Ocinus orca),
                        <p class="text-center">Humpback whales, (Megaptera novaeangliae);</p>
                        <p class="text-center">Pacific white-sided dolphin (Sagmatias obliquidens);</p>
                        <div class="row">

                                <div class="col-md-5">Sample rate: 96 KHz 
                                    <br>
                                    File duration: 5 min
                                    <br>
                                    Total duration: 7.75h
                                    <br>
                                    File size: 95.3 MB
                                    <br>
                                    Total size: 8862 MB
                                    <br>
                                    Number of subsets: 10
                                    <br>
                                    Location: Robert's banks, BC, Canada
                                    <br>
                                    Coordinates:
                                    <br>
                                    Depth: 30m</div>
                                <div class="col-md-7"><img src="WorldMap.png" title="metadata"></div>
                            
                    
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>
